<div class="">
{{#each songs}}
<div>
	<h3>{{name}} ({{Album.year}})</h3>
	performed by {{Artist}} on the album {{album.name}}
	</div>
	{{/each}}

	<button id="loadMoreSongs" class="seperation--top">Load More &gt;</button>
	</div>